<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.gmf.mergeviewer.StructureMergeViewerCreator"
            extensions="*"
            id="org.eclipse.emf.compare.ui.gmf.mergeviewer.structure">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.GMFModelContentType"
            structureMergeViewerId="org.eclipse.emf.compare.ui.gmf.mergeviewer.structure">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.gmf.mergeviewer.ContentMergeViewerCreator"
            id="org.eclipse.emf.compare.ui.gmf.mergeviewer.content">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.gmf.mergeviewer.content"
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.GMFModelContentType">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.eclipse.emf.compare.ui.gmf.decoration.DefaultDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="ecore_diagram"
            id="org.eclipse.emf.compare.ui.contenttype.GMFModelContentType"
            name="GMF Compare"
            priority="normal">
      </content-type>
   </extension>

</plugin>
