<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.ViewContentMergeViewer"
            contentTypeId="org.eclipse.emf.compare.diagram.ide.ecoretools.contenttype">
      </contentTypeBinding>
      <viewer
            class="org.eclipse.emf.compare.diagram.ide.ui.ecoretools.DiagramContentMergeViewerCreator"
            extensions="view"
            id="org.eclipse.emf.compare.ide.ui.internal.ViewContentMergeViewer"
            label="Diagram Compare Content Merge Viewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="ecorediag"
            id="org.eclipse.emf.compare.diagram.ide.ecoretools.contenttype"
            name="Ecore Tools Content Type"
            priority="normal">
      </content-type>
   </extension>

</plugin>
