<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EMF Compare based on Indigo SDK" sequenceNumber="25">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/updateSite"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.team.svn.feature.group" version="0.7.9.I20110602-1700"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="3.1.0.v20110606-1427"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.5.0.v20110502-1600-67O-95GFz03DQEiNLXRMK_NPj507"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.2.0.v201105231350"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
