<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2011 Obeo.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.compare.modelResolver">
      <modelResolver
            class="org.eclipse.emf.compare.logical.extension.ScopedModelResolver">
         <contentType
               value=
                 "org.eclipse.emf.compare.example.library.libraryContentType,
                  org.eclipse.emf.compare.example.library.bookContentType,
                  org.eclipse.emf.compare.example.library.writerContentType"/>
      </modelResolver>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.compare.example.library.writers.util.WritersResourceImpl"
            class="org.eclipse.emf.compare.logical.adapter.EMFCompareAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.compare.example.library.library.util.LibraryResourceImpl"
            class="org.eclipse.emf.compare.logical.adapter.EMFCompareAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.compare.example.library.books.util.BooksResourceImpl"
            class="org.eclipse.emf.compare.logical.adapter.EMFCompareAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.mapping.ResourceMapping">
         </adapter>
      </factory>
   </extension>

<!-- GENERATED BY EMF -->
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/compare/library"
            class="org.eclipse.emf.compare.example.library.library.provider.LibraryItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      <factory
            uri="http://www.eclipse.org/emf/compare/books"
            class="org.eclipse.emf.compare.example.library.books.provider.BooksItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
      <factory
            uri="http://www.eclipse.org/emf/compare/writers"
            class="org.eclipse.emf.compare.example.library.writers.provider.WritersItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/compare/library"
            class="org.eclipse.emf.compare.example.library.library.LibraryPackage"
            genModel="model/library.genmodel"/>
      <package
            uri="http://www.eclipse.org/emf/compare/books"
            class="org.eclipse.emf.compare.example.library.books.BooksPackage"
            genModel="model/library.genmodel"/>
      <package
            uri="http://www.eclipse.org/emf/compare/writers"
            class="org.eclipse.emf.compare.example.library.writers.WritersPackage"
            genModel="model/library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="org.eclipse.emf.compare.example.library.libraryContentType"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
      <parser
            contentTypeIdentifier="org.eclipse.emf.compare.example.library.bookContentType"
            class="org.eclipse.emf.compare.example.library.books.util.BooksResourceFactoryImpl"/>
      <parser
            contentTypeIdentifier="org.eclipse.emf.compare.example.library.writerContentType"
            class="org.eclipse.emf.compare.example.library.writers.util.WritersResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="library"
            id="org.eclipse.emf.compare.example.library.libraryContentType"
            name="%_UI_Library_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/emf/compare/library"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="books"
            id="org.eclipse.emf.compare.example.library.bookContentType"
            name="%_UI_Books_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/emf/compare/books"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="writers"
            id="org.eclipse.emf.compare.example.library.writerContentType"
            name="%_UI_Writers_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/emf/compare/writers"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.compare.example.library.library.presentation.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="org.eclipse.emf.compare.example.library.library.presentation.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
         <description>%_UI_LibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            id="org.eclipse.emf.compare.example.library.books.presentation.BooksModelWizardID"
            name="%_UI_BooksModelWizard_label"
            class="org.eclipse.emf.compare.example.library.books.presentation.BooksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BooksModelFile.gif">
         <description>%_UI_BooksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            id="org.eclipse.emf.compare.example.library.writers.presentation.WritersModelWizardID"
            name="%_UI_WritersModelWizard_label"
            class="org.eclipse.emf.compare.example.library.writers.presentation.WritersModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WritersModelFile.gif">
         <description>%_UI_WritersModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.compare.example.library.library.presentation.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            class="org.eclipse.emf.compare.example.library.library.presentation.LibraryEditor"
            contributorClass="org.eclipse.emf.compare.example.library.library.presentation.LibraryActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.compare.example.library.libraryContentType"/>
      </editor>
      <editor
            id="org.eclipse.emf.compare.example.library.books.presentation.BooksEditorID"
            name="%_UI_BooksEditor_label"
            icon="icons/full/obj16/BooksModelFile.gif"
            class="org.eclipse.emf.compare.example.library.books.presentation.BooksEditor"
            contributorClass="org.eclipse.emf.compare.example.library.books.presentation.BooksActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.compare.example.library.bookContentType"/>
      </editor>
      <editor
            id="org.eclipse.emf.compare.example.library.writers.presentation.WritersEditorID"
            name="%_UI_WritersEditor_label"
            icon="icons/full/obj16/WritersModelFile.gif"
            class="org.eclipse.emf.compare.example.library.writers.presentation.WritersEditor"
            contributorClass="org.eclipse.emf.compare.example.library.writers.presentation.WritersActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.compare.example.library.writerContentType"/>
      </editor>
   </extension>
</plugin>
