<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.compare.modelResolver" name="Model Resolver" schema="schema/ModelResolver.exsd"/>
   
   <extension
         id="org.eclipse.emf.compare.model.provider"
         name="EMF Compare"
         point="org.eclipse.core.resources.modelProviders">
      <modelProvider
            class="org.eclipse.emf.compare.logical.model.EMFModelProvider">
      </modelProvider>
      <enablement>
         <and>
            <adapt
                  type="org.eclipse.core.resources.IFile">
            </adapt>
            <or>
               <test
                     property="org.eclipse.emf.compare.contentType.contentTypeId"
                     value="org.eclipse.emf.compare.ui.contenttype.ModelContentType">
               </test>
               <test
                     property="org.eclipse.emf.compare.contentType.contentTypeId"
                     value="org.eclipse.emf.ecore">
               </test>
               <test
                     property="org.eclipse.emf.compare.contentType.contentTypeId"
                     value="org.eclipse.emf.ecore.xmi">
               </test>
            </or>
         </and>
      </enablement>
   </extension>
</plugin>
