<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="org.eclipse.emf.compare.tests.unit.match.engine.mock.AEngine"
            fileExtension="a"
            priority="low"/>
      <matchengine
            engineClass="org.eclipse.emf.compare.tests.unit.match.engine.mock.BEngine"
            fileExtension="b"
            priority="low"/>
      <matchengine
            engineClass="org.eclipse.emf.compare.tests.unit.match.engine.mock.CHighEngine"
            fileExtension="c"
            priority="high"/>
      <matchengine
            engineClass="org.eclipse.emf.compare.tests.unit.match.engine.mock.CLowEngine"
            fileExtension="c"
            priority="low"/>
            <!--
      <matchengine
            engineClass="org.eclipse.emf.compare.match.statistic.test.match.engines.GenericHighestEngine"
            fileExtension="*"
            priority="highest"/>
            -->
   </extension>
</plugin>
