<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.ide.ui.accessorFactory">
      <factory
            class="org.eclipse.emf.compare.uml2.ide.ui.internal.accessor.factory.UMLIDEManyStructuralFeatureAccessorFactory"
            ranking="20">
      </factory>
      <factory
            class="org.eclipse.emf.compare.uml2.ide.ui.internal.accessor.factory.UMLIDESingleStructuralFeatureAccessorFactory"
            ranking="20">
      </factory>
      <factory
            class="org.eclipse.emf.compare.uml2.ide.ui.internal.accessor.factory.UMLStereotypeApplicationChangeFeatureAccessorFactory"
            ranking="25">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.compare.rcp.ui.filters">
      <filter
            activeByDefault="true"
            class="org.eclipse.emf.compare.uml2.ide.ui.internal.structuremergeviewer.filters.UMLRefinedElementsFilter"
            label="UML refined elements">
      </filter>
   </extension>
</plugin>
