<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2010 Technical University of Denmark.
 All rights reserved. This program and the accompanying materials 
 are made available under the terms of the Eclipse Public License v1.0 
 which accompanies this distribution, and is available at 
 http://www.eclipse.org/legal/epl-v10.html 
 
 Contributors:
    Patrick Koenemann, DTU Informatics - initial API and implementation

 $Id: plugin.xml,v 1.1 2010/09/10 15:32:55 cbrun Exp $
-->

<plugin>
   <extension
         point="org.eclipse.emf.compare.mpatch.symbolicreference">
      <symbolicreferencecreator
            symbolic_reference_creator="org.eclipse.emf.compare.mpatch.emfdiff2mpatch.generic.impl.ElementSetReferenceCreator">
      </symbolicreferencecreator>
   </extension>
   <extension
         point="org.eclipse.emf.compare.mpatch.symbolicreference">
      <symbolicreferencecreator
            symbolic_reference_creator="org.eclipse.emf.compare.mpatch.emfdiff2mpatch.generic.impl.IdReferenceCreator">
      </symbolicreferencecreator>
   </extension>
   <extension
         point="org.eclipse.emf.compare.mpatch.modeldescriptor">
      <modeldescriptorcreator
            model_descriptor_creator="org.eclipse.emf.compare.mpatch.emfdiff2mpatch.generic.impl.DefaultModelDescriptorCreator"
            ></modeldescriptorcreator>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/compare/mpatch/1.0/symrefs"
            class="org.eclipse.emf.compare.mpatch.symrefs.SymrefsPackage"
            genModel="model/symrefs.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/compare/mpatch/1.0/descriptor"
            class="org.eclipse.emf.compare.mpatch.descriptor.DescriptorPackage"
            genModel="model/descriptor.genmodel"/>
   </extension>
</plugin>
