<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2010 Technical University of Denmark.
 All rights reserved. This program and the accompanying materials 
 are made available under the terms of the Eclipse Public License v1.0 
 which accompanies this distribution, and is available at 
 http://www.eclipse.org/legal/epl-v10.html 
 
 Contributors:
    Patrick Koenemann, DTU Informatics - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.compare.mpatch.apply.startapply"
            nameFilter="*mpatch"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.compare.mpatch.apply.actions.ApplyAction"
               enablesFor="1"
               id="org.eclipse.emf.compare.mpatch.apply.ApplyAction"
               label="Apply MPatch"
               menubarPath="org.eclipse.emf.compare.mpatch.mpatchmenu/apply">
         </action>
         <menu
               icon="icons/diff_16.gif"
               id="org.eclipse.emf.compare.mpatch.mpatchmenu"
               label="MPatch"
               path="additions">
         </menu>
      </objectContribution>
   </extension>
   <!-- PK: deactivated for contribution because it is too intrusive.
            discussion at: https://bugs.eclipse.org/bugs/show_bug.cgi?id=297812 - ->   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.compare.mpatch.apply.startapply2"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.emf.compare.mpatch.apply.actions.ApplyAction"
               enablesFor="2"
               id="org.eclipse.emf.compare.mpatch.apply.ApplyAction2"
               label="Apply MPatch"
               menubarPath="org.eclipse.emf.compare.mpatch.mpatchmenu/apply">
         </action>
         <menu
               icon="icons/diff_16.gif"
               id="org.eclipse.emf.compare.mpatch.mpatchmenu"
               label="MPatch"
               path="additions">
         </menu>
      </objectContribution>
   </extension>
   <!- - -->
<extension
      point = "org.eclipse.ui.newWizards">
 	<wizard
	   category="org.eclipse.emf.compare.mpatch.Wizard.ID"
       id="org.eclipse.emf.compare.mpatch.apply.applywizard"
       name="Apply MPatch"
       class="org.eclipse.emf.compare.mpatch.apply.wizards.ApplyWizard"
       icon="icons/diff_16.gif">
     <description>Apply MPatch to another model</description>
     <selection class="org.eclipse.core.resources.IResource" /> 
   </wizard>
</extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.emf.compare.mpatch.apply.mpatcheditor"
            targetID="org.eclipse.emf.compare.mpatch.presentation.mpatchEditorID">
         <action
               class="org.eclipse.emf.compare.mpatch.apply.actions.ApplyAction"
               icon="icons/diff_16.gif"
               id="org.eclipse.emf.compare.mpatch.apply.actions.ApplyAction3"
               label="Apply MPatch"
               style="push"
               toolbarPath="additions"
               tooltip="Open the wizard for applying this MPatch to a model">
         </action>
      </editorContribution>
   </extension>
</plugin>
