<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.rcp.loadOnDemandPolicy">
      <policy
            class="org.eclipse.emf.compare.uml2.rcp.internal.policy.UMLLoadOnDemandPolicy">
      </policy>
   </extension>

</plugin>
