<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2011, 2012 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/compare/tests/nodes"
            class="org.eclipse.emf.compare.tests.nodes.NodesPackage"
            genModel="model/nodes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="nodes"
            class="org.eclipse.emf.compare.tests.nodes.util.NodesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="nodes"
            id="org.eclipse.emf.compare.test.nodes.contenttype"
            name="%_UI_Nodes_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/emf/compare/tests/nodes"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
