<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.egit.core.storage.GitBlobStorage"
            class="org.eclipse.emf.compare.egit.internal.adapter.EGitAdapterFactory">
         <adapter
               type="org.eclipse.emf.compare.ide.utils.IStoragePathProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.egit.core.mergeStrategy">
      <strategy
            class="org.eclipse.emf.compare.egit.internal.merge.StrategyRecursiveModel"
            label="%StrategyRecursiveModel-Label">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.emf.compare.rcp.postProcessor">
      <processor
            class="org.eclipse.emf.compare.egit.internal.postprocessor.EgitPostProcessor"
            description="Post processor used in postDiff step to detect resource attachment changes of kind Move."
            label="EGit Post Processor"
            ordinal="15">
         <nsURI
               value=".*">
         </nsURI>
      </processor>
   </extension>
</plugin>
