<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2013, 2016 Obeo and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
     Stefan Dirix - Bugs 456699, 474723
-->

<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.compare.content.type"
            file-extensions="di,notation"/>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.resourceSetHook">
      <resourceSetHook
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.internal.CssInstallationHook">
      </resourceSetHook>
      <resourceSetHook
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.internal.SaveParameterHook">
      </resourceSetHook>
      <resourceSetHook
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.internal.ElementTypeSetConfigurationRegistryInitializingHook">
      </resourceSetHook>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.ui.logicalModelViewHandlers">
      <handler
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.internal.logical.view.PapyrusLMVHandler"
            ranking="20">
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.ui.modelDependencyProvider">
      <dependency
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.dependency.PapyrusDependencyProvider">
      </dependency>
   </extension>
   <extension
         point="org.eclipse.emf.compare.rcp.merger">
      <merger
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.internal.merge.PapyrusResourceAttachmentChangeMerger"
            ranking="100">
      </merger>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile"
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.comparesource.EMFCompareSourceAdapterFactory">
         <adapter
               type="org.eclipse.emf.compare.ide.ui.source.IEMFComparisonSource">
         </adapter>
      </factory>
   </extension>
</plugin>
