<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.diagram.ide.ui.papyrus.DiagramContentMergeViewerCreator"
            extensions="diagramcompare_match, diagramcompare_diff, di, notation"
            id="org.eclipse.emf.compare.ui.papyrus.contentviewer"
            label="Diagram Compare Content Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.papyrus.contentviewer"
            contentTypeId="org.eclipse.emf.compare.papyrus.ui.papyruscontenttype">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.compare.diagram.gmfcontenttype"
            describer="org.eclipse.emf.compare.diagram.ide.papyrus.DiContentDescriptor"
            file-extensions="di"
            id="org.eclipse.emf.compare.papyrus.ui.papyruscontenttype"
            name="Papyrus DI Content Type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.emf.compare.diagram.gmfcontenttype"
            file-extensions="notation"
            id="org.eclipse.emf.compare.papyrus.ui.papyruscontenttype.notation"
            name="Papyrus Notation Content Type"
            priority="normal">
      </content-type>
   </extension>

</plugin>
