<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.diff.extension">
      <diff_extension
            extensionClass="org.eclipse.emf.compare.examples.diff.extension.extensions.AddUMLAssociationExtension"
            fileExtension="uml">
      </diff_extension>
   </extension>

</plugin>

