<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/compare/diagram/2.0"
            class="org.eclipse.emf.compare.diagram.DiagramComparePackage"
            genModel="model/diagramdiff.genmodel"/>
   </extension>
   
   
   <extension
         point="org.eclipse.emf.compare.postProcessor">
      <postProcessor
            class="org.eclipse.emf.compare.diagram.diff.DiagramDiffExtensionPostProcessor">
         <nsURI
               value="http://www.eclipse.org/gmf/runtime/\d.\d.\d/notation">
         </nsURI>
      </postProcessor>
   </extension>

</plugin>
