<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.ide.resourceSetHook">
      <resourceSetHook
            class="org.eclipse.emf.compare.uml2.ide.ResourceSetProfileUnloader">
      </resourceSetHook>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.modelInclusionTester">
      <fileExtensionModelInclusionTester
            fileExtension="uml">
      </fileExtensionModelInclusionTester>
   </extension>
</plugin>
