<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EMF Compare based on Indigo SDK" sequenceNumber="1401790396">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="0.9.3.M6"/>
      <unit id="org.eclipse.emf.emfstore.fuzzy.feature.feature.group" version="0.9.3.M6"/>
      <repository location="http://download.eclipse.org/emf-store/milestones/archive/0.9.3.M6"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="javaewah" version="0.7.9.v201401101600"/>
      <unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="3.7.2.M20120208-0800"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.5.1.v20110823-1800-777T19A_WsXmjNatPxcrPm1rOKlH"/>
      <unit id="org.eclipse.uml2.feature.group" version="3.2.1.v201109082252"/>
      <unit id="org.junit4" version="4.8.1.v20100525"/>
      <repository location="http://download.eclipse.org/releases/indigo"/>
    </location>
  </locations>
</target>
