<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EMF Compare based on Kepler SDK" sequenceNumber="1395929699">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="4.3.2.M20140221-1700"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.9.2.v20140203-1126"/>
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.2.0.201306071421"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.7.0.201306111432"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="4.1.2.v20140202-2055"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.10.2.v201402191554"/>
      <unit id="org.eclipse.egit.feature.group" version="3.2.0.201312181205-r"/>
      <repository location="http://download.eclipse.org/releases/kepler"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.junit4" version="4.8.1.v20100525"/>
      <repository location="http://download.eclipse.org/releases/helios"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <unit id="com.google.guava.source" version="11.0.2.v201303041551"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
      <unit id="javaewah" version="0.5.6.v201210150900"/>
      <unit id="org.apache.commons.compress" version="1.4.1.v201301140946"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="0.9.3.M5"/>
      <unit id="org.eclipse.emf.emfstore.fuzzy.feature.feature.group" version="0.9.3.M5"/>
      <repository location="http://download.eclipse.org/emf-store/milestones/archive/0.9.3.M5"/>
    </location>
  </locations>
</target>
