<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EMF Compare based on Kepler SDK" sequenceNumber="1401790432">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="0.9.3.M6"/>
      <unit id="org.eclipse.emf.emfstore.fuzzy.feature.feature.group" version="0.9.3.M6"/>
      <repository location="http://download.eclipse.org/emf-store/milestones/archive/0.9.3.M6"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.junit4" version="4.8.1.v20100525"/>
      <repository location="http://download.eclipse.org/releases/indigo"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="javaewah" version="0.7.9.v201401101600"/>
      <unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/egit/updates"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="4.3.2.M20140221-1700"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.9.2.v20140203-1126"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201306111400"/>
      <unit id="org.eclipse.uml2.feature.group" version="4.1.2.v20140202-2055"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.7.0.201306101425"/>
      <unit id="org.eclipse.emf.ecoretools.feature.group" version="1.2.0.201306071421"/>
      <repository location="http://download.eclipse.org/releases/kepler"/>
    </location>
  </locations>
</target>
