<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="EMF Compare based on Kepler SDK" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="11.0.2.v201303041551"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20131024145017/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.emfstore.modelmutator.feature.feature.group" version="0.9.3.M6"/>
<unit id="org.eclipse.emf.emfstore.fuzzy.feature.feature.group" version="0.9.3.M6"/>
<repository location="http://download.eclipse.org/emf-store/milestones/archive/0.9.3.M6"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.junit4" version="4.8.1.v20120523-1257"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.feature.group" version="2.9.1.v20130902-0605"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.7.0.201306111400"/>
<unit id="org.eclipse.uml2.feature.group" version="4.1.1.v20130902-0826"/>
<unit id="org.eclipse.platform.sdk" version="4.3.1.M20130911-1000"/>
<unit id="org.junit" version="4.11.0.v201303080030"/>
<unit id="org.eclipse.egit.feature.group" version="3.0.3.201309161630-r"/>
<unit id="org.eclipse.gmf.feature.group" version="1.7.0.201306111432"/>
<unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.7.0.201306101425"/>
<unit id="org.eclipse.emf.ecoretools.feature.group" version="1.2.0.201306071421"/>
<unit id="org.eclipse.papyrus.infra.core.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.infra.emf.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.infra.gmfdiag.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.uml.diagram.feature.feature.group" version="0.10.1.v201309181302"/>
<unit id="org.eclipse.papyrus.uml.tools.feature.feature.group" version="0.10.1.v201309181302"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
