<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EMF Compare based on Mars SDK with Logical Model and Papyrus" sequenceNumber="1500986499">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="javaewah" version="1.1.6.v20160919-1400"/>
      <unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
      <unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/egit-logical/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.performance" version="1.0.0.201402071743"/>
      <repository location="http://obeo.github.io/fr.obeo.performance/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.migration.rsa" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.extra.umlrt.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.extra.epf.richtext.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/luna/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/interim/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/2.3.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/sirius/updates/releases/3.1.4/mars"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.obeonetwork.dsl.uml2.runtime.feature.feature.group" version="6.0.0.201510191019"/>
      <repository location="http://releases.umldesigner.org/6.0.0/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.annotation" version="1.1.100.v20140704-0625"/>
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="3.6.0.201506080954"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
  </locations>
</target>
