<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="EMF Compare based on Mars SDK" sequenceNumber="1433171371">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="11.0.2.v201303041551"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <unit id="javaewah" version="0.7.9.v201401101600"/>
      <unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <unit id="org.mockito" version="1.9.5.v201311280930"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/egit-logical/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.performance" version="1.0.0.201402071743"/>
      <repository location="http://axelrichard.github.io/fr.obeo.performance/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.migration.rsa" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.extra.umlrt.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.extra.epf.richtext.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/luna/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/interim/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.team.svn.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
  </locations>
</target>
