<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.5 2007/08/29 07:11:29 cbrun Exp $
-->

<plugin>
   <extension-point id="engine" name="engine" schema="schema/engine.exsd"/>
   <extension-point id="diff_extension" name="diff_extension" schema="schema/diff_extension.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/compare/diff/1.0" 
       class = "org.eclipse.emf.compare.diff.metamodel.DiffPackage"
       genModel = "model/diff.genmodel" /> 
  </extension>
  <extension
         point="org.eclipse.emf.compare.diff.engine">
      <engine
            engineClass="org.eclipse.emf.compare.diff.generic.DiffMaker"
            priority="low"/>
   </extension>
   
   

</plugin>

