<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.6 2007/10/04 13:25:11 lgoubet Exp $
-->

<plugin>
   <extension-point id="org.eclipse.emf.compare.diff.engine" name="org.eclipse.emf.compare.diff.engine" schema="schema/org.eclipse.emf.compare.diff.engine.exsd"/>
   <extension-point id="diff_extension" name="diff_extension" schema="schema/diff_extension.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/compare/diff/1.0" 
       class = "org.eclipse.emf.compare.diff.metamodel.DiffPackage"
       genModel = "model/diff.genmodel" /> 
  </extension>
  <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="org.eclipse.emf.compare.diff.generic.DiffMaker"
            priority="low"/>
   </extension>
   
   

</plugin>

