<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2011, 2015 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/compare/uml2/2.0"
            class="org.eclipse.emf.compare.uml2.internal.provider.decorator.UMLCompareItemProviderDecoratorAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider
               org.eclipse.emf.edit.provider.IItemFontProvider"/>
       <factory
            uri="http://www.eclipse.org/emf/compare/uml2/2.0"
            class="org.eclipse.emf.compare.uml2.internal.provider.custom.UMLCompareCustomItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.compare.provider.IItemStyledLabelProvider
               org.eclipse.emf.compare.provider.IItemDescriptionProvider
               org.eclipse.emf.compare.provider.ISemanticObjectLabelProvider"/>
   </extension>

    <extension
         point="org.eclipse.emf.compare.edit.adapterFactory">
      <factory
            class="org.eclipse.emf.compare.uml2.internal.provider.decorator.UMLProfileItemProviderAdapterFactoryDecorator"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.compare.provider.IItemStyledLabelProvider
               org.eclipse.emf.compare.provider.IItemDescriptionProvider"
            description="This provider displays stereotyped elements like they were a new kind of UML element (it uses stereotype's icon and a custom label)."
            ranking="60"
            optional="true"
            label="Stereotyped element item provider"
            uri="http://www.eclipse.org/uml2/5.0.0/UML">
      </factory>
            <factory
            class="org.eclipse.emf.compare.uml2.internal.provider.tooltips.UMLTooltipLabelProviderFactory"
            supportedTypes=
              "org.eclipse.emf.compare.provider.ITooltipLabelProvider"
            description="Customizes the way UML linked tooltips are displayed in EMF Compare."
            ranking="10"
            optional="true"
            label="UML tooltips item provider"
            uri="http://www.eclipse.org/emf/compare/uml2/2.0">
      </factory>
      <factory
            class="org.eclipse.emf.compare.uml2.internal.provider.profile.ProfiledUMLCompareItemProviderAdapterFactory"
            ranking="60"
            optional="true"
            description="This providers displays the properties of a stereotype the same way the properties of the base element are."
            label="Stereotyped element property item provider"
            uri="http://www.eclipse.org/emf/compare/uml2/2.0"
             supportedTypes=
              "org.eclipse.emf.compare.provider.IItemStyledLabelProvider
               org.eclipse.emf.compare.provider.IItemDescriptionProvider"/>
   </extension>
</plugin>
