<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.compare.diagram.gmfcontenttype"
            describer="org.eclipse.emf.compare.diagram.papyrus.DiContentDescriptor"
            file-extensions="di"
            id="org.eclipse.emf.compare.papyrus.ui.papyruscontenttype"
            name="Papyrus DI Content Type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.emf.compare.diagram.gmfcontenttype"
            file-extensions="notation"
            id="org.eclipse.emf.compare.papyrus.ui.papyruscontenttype.notation"
            name="Papyrus Notation Content Type"
            priority="normal">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.emf.compare.diagram.viewLabelProvider">
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.ActivityViewLabelProvider"
            diagramType="PapyrusUMLActivityDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.ClazzViewLabelProvider"
            diagramType="PapyrusUMLClassDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.CommunicationViewLabelProvider"
            diagramType="PapyrusUMLCommunicationDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.ComponentViewLabelProvider"
            diagramType="PapyrusUMLComponentDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.CompositeViewLabelProvider"
            diagramType="CompositeStructure">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.DeploymentViewLabelProvider"
            diagramType="PapyrusUMLDeploymentDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.ProfileViewLabelProvider"
            diagramType="PapyrusUMLProfileDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.SequenceViewLabelProvider"
            diagramType="PapyrusUMLSequenceDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.StateMachineViewLabelProvider"
            diagramType="PapyrusUMLStateMachineDiagram">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.UseCaseViewLabelProvider"
            diagramType="UseCase">
      </provider>
      <provider
            class="org.eclipse.emf.compare.diagram.papyrus.PackageViewLabelProvider"
            diagramType="Package">
      </provider>
   </extension>

</plugin>
