<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
      Providing the synchronization adapter, in charge of providing a compare input from the synchronize view
   -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.compare.logical.model.EMFModelProvider"
            class="org.eclipse.emf.compare.logical.ui.adapter.EMFCompareAdapterFactory">
         <adapter
               type="org.eclipse.team.ui.mapping.ISynchronizationCompareAdapter">
         </adapter>
      </factory>
   </extension>
   <!--
      Providing the necessary content provider for the Synchronize view to display the EMF Compare team provider
   -->
   <!--
      Providing the structure and content viewers that should be used with our Typed Element
   -->
</plugin>
