<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.diagram.ui.mergeviewer.GMFStructureMergeViewerCreator"
            extensions="*"
            id="org.eclipse.emf.compare.diagram.ui.structureviewer"
            label="GMF Compare"/>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.compare.diagram.gmfcontenttype"
            structureMergeViewerId="org.eclipse.emf.compare.diagram.ui.structureviewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.diagram.ui.mergeviewer.GMFContentMergeViewerCreator"
            id="org.eclipse.emf.compare.diagram.ui.contentviewer"
            label="GMF Compare">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.diagram.ui.contentviewer"
            contentTypeId="org.eclipse.emf.compare.diagram.gmfcontenttype">
      </contentTypeBinding>
   </extension>
     
     <extension
           point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
        <decoratorProvider
              class="org.eclipse.emf.compare.diagram.ui.decoration.provider.DiffDecoratorProvider">
           <Priority
                 name="Lowest">
           </Priority>
           <object
                 class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
                 id="NODE">
           </object>
           <context
                 decoratorTargets="NODE">
           </context>
        </decoratorProvider>
     </extension>
     
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage"
            class="org.eclipse.emf.compare.diagram.ui.preferences.internal.DiagramComparePreferencesPage"
            id="org.eclipse.emf.compare.diagram.internal.preferences.DiagramComparePreferencesPage"
            name="%preferencePageName">
      </page>
   </extension>

</plugin>
