<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UML_COMPARE_TESTS_PROFILE/"
            target="platform:/plugin/org.eclipse.emf.compare.uml2.profiles.tests/profile/">
      </mapping>
   </extension>

</plugin>
