<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EMF Compare based on Helios SDK" sequenceNumber="28">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/updateSite"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.6"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.team.svn.feature.group" version="0.7.9.I20110207-1700"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.4.0.v20100428-2315-67J-95GFz01DOIuNNRTWK_NPj507"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.4.2.v20110201-1000-67G49E9QYBfkXgwmVt5ksk7w9Vqi"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="3.0.2.R30x_v201101181635-7J-7A8j_CDZUhIyiEJYRHlnWupBh"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.1.2.v201010261927"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
</target>
