<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EMF Compare based on Juno with 4.2 Platform" sequenceNumber="28">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/updateSite"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.papyrus.feature.group" version="0.8.2.v201111301839"/>
<repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.8.0.v20111104-1437"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.8.0.v20111104-1437"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.2.1.v201109082252"/>
<repository location="http://download.eclipse.org/modeling/mdt/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.2.0.I20111130-1530"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.2-I-builds"/>
</location>
</locations>
</target>
