<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2007/06/14 14:57:38 cbrun Exp $
-->

<plugin>
   <extension-point id="engine" name="engine" schema="schema/engine.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/compare/match/1.0" 
       class = "org.eclipse.emf.compare.match.MatchPackage"
       genModel = "model/match.genmodel" /> 
  </extension>
  
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <engine
            engineClass="org.eclipse.emf.compare.match.statistic.DifferencesServices"
            fileExtension="*"
            priority="low"/>
   </extension>

 
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/emf/compare/match/1.0" 
       class = "org.eclipse.emf.compare.match.provider.MatchItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

</plugin>

