<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2007/04/03 07:05:55 cbrun Exp $
-->

<plugin>
   <extension-point id="engine" name="engine" schema="schema/engine.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/compare/match/1.0" 
       class = "org.eclipse.emf.compare.match.MatchPackage"
       genModel = "model/match.genmodel" /> 
  </extension>
  
  <extension
         point="org.eclipse.emf.compare.match.engine">
      <engine
            engineClass="org.eclipse.emf.compare.match.statistic.DifferencesServices"
            fileExtension="*"
            priority="low"/>
   </extension>

</plugin>

