<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.diagram.ide.viewLabelProvider">
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.ActivityViewLabelProvider"
            diagramType="PapyrusUMLActivityDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.ClazzViewLabelProvider"
            diagramType="PapyrusUMLClassDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.CommunicationViewLabelProvider"
            diagramType="PapyrusUMLCommunicationDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.ComponentViewLabelProvider"
            diagramType="PapyrusUMLComponentDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.CompositeViewLabelProvider"
            diagramType="CompositeStructure">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.DeploymentViewLabelProvider"
            diagramType="PapyrusUMLDeploymentDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.ProfileViewLabelProvider"
            diagramType="PapyrusUMLProfileDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.SequenceViewLabelProvider"
            diagramType="PapyrusUMLSequenceDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.StateMachineViewLabelProvider"
            diagramType="PapyrusUMLStateMachineDiagram">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.UseCaseViewLabelProvider"
            diagramType="UseCase">
      </viewLabelProvider>
      <viewLabelProvider
            class="org.eclipse.emf.compare.diagram.ide.papyrus.PackageViewLabelProvider"
            diagramType="Package">
      </viewLabelProvider>
   </extension>
</plugin>
