<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     
     
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.emf.compare.diagram.internal.preferences.DiagramComparePreferencesPage"
            class="org.eclipse.emf.compare.diagram.ide.ui.internal.preferences.DiagramComparePreferencesPage"
            id="org.eclipse.emf.compare.diagram.internal.preferences.DiagramComparePreferencesPage"
            name="%preferencePageName">
      </page>
   </extension>
     <extension
           point="org.eclipse.emf.compare.ide.ui.accessor_factory">
        <factory
              class="org.eclipse.emf.compare.diagram.ide.ui.internal.accessor.factory.DiagramIDEDiffAccessorFactory"
              ranking="40">
        </factory>
        <factory
              class="org.eclipse.emf.compare.diagram.ide.ui.internal.accessor.factory.DiagramIDEMatchAccessorFactory"
              ranking="40">
        </factory>
     </extension>

</plugin>
