<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewerCreator"
            id="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"/>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.ModelContentType"/>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewerCreator"
            extensions="*"
            id="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer"/>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
            structureMergeViewerId="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="emfdiff"
            icon="icons/full/editorIcon.gif"
            id="org.eclipse.emf.compare.ui.editor"
            launcher="org.eclipse.emf.compare.ui.editor.ModelCompareEditorLauncher"
            name="emfdiff editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage"
            id="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage"
            name="EMFCompare"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
            name="Model File"
            priority="normal"
            file-extensions="emfdiff, uml, ecore">
      </content-type>
   </extension>
</plugin>
