<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.emf.compare.ui.export" name="org.eclipse.emf.compare.ui.export" schema="schema/org.eclipse.emf.compare.ui.export.exsd"/>
   <extension-point id="org.eclipse.emf.compare.ui.internal.team.handler" name="org.eclipse.emf.compare.ui.internal.team.handler" schema="schema/org.eclipse.emf.compare.internal.team.handler.exsd"/>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.viewer.content.ModelContentMergeViewerCreator"
            id="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"/>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.ModelContentType"/>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"
            contentTypeId="org.eclipse.emf.ecore"/>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ui.contentmergeviewer.ModelContentMergeViewer"
            contentTypeId="org.eclipse.emf.ecore.xmi">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ui.viewer.structure.ModelStructureMergeViewerCreator"
            extensions="*"
            id="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer"/>
      <contentTypeBinding
            structureMergeViewerId="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer"
            contentTypeId="org.eclipse.emf.compare.ui.contenttype.ModelContentType"/>
      <contentTypeBinding
            structureMergeViewerId="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer"
            contentTypeId="org.eclipse.emf.ecore"/>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore.xmi"
            structureMergeViewerId="org.eclipse.emf.compare.ui.structuremergeviewer.ModelStructureMergeViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="emfdiff,*"
            icon="icons/full/editorIcon.gif"
            id="org.eclipse.emf.compare.ui.editor"
            launcher="org.eclipse.emf.compare.ui.editor.ModelCompareEditorLauncher"
            name="%emfdiffEditorName"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage"
            id="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesPage"
            name="%preferencePageName"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.emf.compare.ui.preferences.EMFComparePreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="emfdiff,uml,ecore"
            id="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
            name="%modelContentTypeName"
            priority="normal">
      </content-type>
   </extension>
   <extension
       point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
      <changePreviewViewer
          class="org.eclipse.emf.compare.ui.viewer.content.ModelContentPreviewViewer"
          id="de.itemis.emf.refacoring.EMFChangePreviewViewer">
         <enablement>
            <instanceof value="org.eclipse.emf.compare.ui.IModelCompareInputProvider"/>
         </enablement>
      </changePreviewViewer>
   </extension>
</plugin>
