<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.structuremergeviewer.EMFCompareStructureMergeViewerCreator"
            extensions="xmi"
            id="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer"
            label="EMFCompare Structure Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore.xmi"
            structureMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.tree.TreeContentMergeViewerCreator"
            extensions="eobject"
            id="org.eclipse.emf.compare.ide.ui.internal.EObjectContentMergeViewer"
            label="EMFCompare Content Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.EObjectContentMergeViewer"
            contentTypeId="org.eclipse.emf.ecore.xmi">
      </contentTypeBinding>
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.table.TableContentMergeViewerCreator"
            extensions="objectlist"
            id="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.EObjectListContentMergeViewer"
            label="EMFCompare Content Merge Viewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.compare.ide.logical.EMFModelProvider"
            class="org.eclipse.emf.compare.ide.ui.logical.adapter.EMFCompareAdapterFactory">
         <adapter
               type="org.eclipse.team.ui.mapping.ISynchronizationCompareAdapter">
         </adapter>
      </factory>
   </extension>
</plugin>
