<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 Copyright (c) 2012 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Obeo - initial API and implementation
-->

<plugin>
   <extension-point id="accessor_factory" name="Accessor Factory" schema="schema/accessor_factory.exsd"/>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.structuremergeviewer.EMFCompareStructureMergeViewerCreator"
            extensions="xmi"
            id="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer"
            label="EMFCompare Structure Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore.xmi"
            structureMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.tree.TreeContentMergeViewerCreator"
            extensions="eobject"
            id="org.eclipse.emf.compare.ide.ui.internal.EObjectContentMergeViewer"
            label="EMFCompare Content Merge Viewer">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.EObjectContentMergeViewer"
            contentTypeId="org.eclipse.emf.ecore.xmi">
      </contentTypeBinding>
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.table.TableContentMergeViewerCreator"
            extensions="emfcompare_diff"
            id="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.EObjectListContentMergeViewer"
            label="EMFCompare Content Merge Viewer">
      </viewer>
      <viewer
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.text.EMFCompareTextMergeViewerCreator"
            extensions="eText"
            id="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.text.EMFCompareTextContentMergeViewer"
            label="EMFCompare Text Merge Viewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="org.eclipse.emf.compare.ide.ui.internal.structuremergeviewer.provider.CompareNodeAdapterFactory"
            supportedTypes=
            "org.eclipse.compare.structuremergeviewer.IDiffElement
             org.eclipse.compare.structuremergeviewer.IDiffContainer
             org.eclipse.compare.structuremergeviewer.ITypedElement
             org.eclipse.compare.structuremergeviewer.ICompareInput"
            uri="http://www.eclipse.org/emf/compare">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.compare.ide.ui.accessor_factory">
      <factory
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.accessor.factory.IDEEObjectAccessorFactory"
            ranking="10">
      </factory>
      <factory
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.accessor.factory.IDEManyStructuralFeatureAccessorFactory"
            ranking="10">
      </factory>
      <factory
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.accessor.factory.IDESingleStructuralFeatureAccessorFactory"
            ranking="10">
      </factory>
      <factory
            class="org.eclipse.emf.compare.ide.ui.internal.contentmergeviewer.accessor.factory.IDEStringAttributeChangeAccessorFactory"
            ranking="10">
      </factory>
   </extension>
</plugin>
